name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip_build]')"
    steps:
    - uses: actions/checkout@v2
    - name: Install shellb
      run: |
        chmod +x install.sh && ./install.sh c_cpp && chmod +x build/shellb
        cp examples/ffead-cpp/install_ffead-cpp-dependencies.sh .
        chmod +x install_ffead-cpp-dependencies.sh && ./install_ffead-cpp-dependencies.sh
    - name: Install bazel
      run: |
        sudo apt install pkg-config zip g++ zlib1g-dev unzip wget zstd
        wget https://github.com/bazelbuild/bazel/releases/download/6.1.2/bazel-6.1.2-installer-linux-x86_64.sh
        chmod +x bazel-6.1.2-installer-linux-x86_64.sh && ./bazel-6.1.2-installer-linux-x86_64.sh --user
        export PATH=$HOME/bin:$PATH
    - name: Install buck2
      run: |
        wget -q https://github.com/facebook/buck2/releases/download/latest/buck2-x86_64-unknown-linux-gnu.zst
        unzstd buck2-x86_64-unknown-linux-gnu.zst && mv buck2-x86_64-unknown-linux-gnu /usr/local/bin/buck2 && chmod +x /usr/local/bin/buck2
    - name: Checkout test project
      run: |
        git clone https://github.com/sumeetchhetri/ffead-cpp
        cp examples/ffead-cpp/ffead-cpp.sh examples/ffead-cpp/ffead-cpp-bazel.sh examples/ffead-cpp/ffead-cpp-buck2.sh ffead-cpp/
        mv build/shellb ffead-cpp/
    - name: Test shellb
      run: |
        cd ffead-cpp && ./shellb ffead-cpp
        ls -ltr shellb_out
        ls -ltr shellb_out/ffead-cpp-6.0-bin
        rm -rf shellb_out
    - name: Test shellb-bazel
      run: |
        cd ffead-cpp && ./shellb ffead-cpp-bazel
        ls -ltr shellb_out
        ls -ltr shellb_out/ffead-cpp-6.0-bin
        rm -rf shellb_out
    - name: Test shellb-buck2
      run: |
        cd ffead-cpp && ./shellb ffead-cpp-buck2
        ls -ltr shellb_out
        ls -ltr shellb_out/ffead-cpp-6.0-bin
        rm -rf shellb_out